<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="connLC" value="Data Source=LCPROD.SBL.COM;User Id=Se2Interface;Password=wozer_99;"/>
    <add key="connMCS" value="Server=CFESQLPROD2;Database=MCS;Integrated Security=SSPI;"/>
    <add key="connCORE" value="Data Source=COREPRD.SBL.COM;User ID=SBGUSR;Password=SBGUSR"/>
    <add key="connDOM" value="Server=SETOPINTFSQL20Q;Database=IntegrationServices;Integrated Security=SSPI;"/>
    <add key="connLOG" value="Server=SETOPINTFSQL20Q;Database=IntegrationServices;Integrated Security=SSPI;"/>
    <add key="connSTOR" value="Server=SETOPINTFSQL20Q;Database=InterfaceDataStore;Integrated Security=SSPI;"/>
    <add key="connLOAD" value="Server=SETOPINTFSQL20Q;Database=InterfaceDataLoad;Integrated Security=SSPI;"/>
    <add key="connSE2" value="Server=CFESQLQA;Database=Se2Interface;Integrated Security=SSPI;"/>
    <add key="exceptionTemplate" value="\\Sbtopintfapp01q\e$\IS_V2\Application\Templates\MailException"/>
    <add key="messageTemplate" value="C:\se2Interfaces\RES.ALST\GLSummary\MailMessage"/>
    <add key="APPSETTINGS_DEV" value="Server=TOPSQLDB01D;Database=IntegrationServices;Integrated Security=SSPI;"/>
    <add key="APPSETTINGS_QA" value="Server=SETOPINTFSQL20Q;Database=IntegrationServices;Integrated Security=SSPI;"/>
    <add key="APPSETTINGS_PROD" value="Server=SBTOPINTFSQL01P;Database=IntegrationServices;Integrated Security=SSPI;"/>
    <add key="DataLocation" value="connDOM"/>
    <add key="ENV" value="QA"/>
    <add key="SystemAbbr" value="ISCORSP"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="SGemailAPIUri" value="https://sendgrid-gwsvcs.se2.com/v3/mail/send"/>
    <add key="SGemailAuth" value="Bearer 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"/>
    <add key="PackTrackingID" value="True"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="uc4admin@securitybenefit.com">
        <network host="exchange2003.sbl.com" port="25" defaultCredentials="true" clientDomain="SBGLAN1"/>
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
